<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Form - MediFlow</title>
 <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
</head>
<body>
  <div class="container mt-5">
  <h3>Add Hospital Notification</h3>
  <form method="POST" action="{{ url_for('nurse.create_notification') }}">
    <div class="mb-3">
      <label for="patient_id" class="form-label">Patient ID (optional)</label>
      <input type="number" class="form-control" id="patient_id" name="patient_id" placeholder="Enter patient ID">
    </div>

    <div class="mb-3">
      <label for="updates" class="form-label">Hospital Updates</label>
      <textarea class="form-control" id="updates" name="updates" rows="3" required></textarea>
    </div>

    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="date" class="form-control" id="date" name="date" required>
    </div>

    <button type="submit" class="btn btn-primary">Add Notification</button>
  </form>

</body>
</html>

